@model PizzaBox.Web.Models.UserViewModel


@{
    ViewData["Title"] = "User Info";
}

<h1>User Info</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
    </dl>
</div>

<div>
    <form asp-action="Logout">
        <input type="submit" value="Logout" class="btn btn-primary" />
    </form>
</div>